.TodoForm{
    margin-top: 30px;
}

.TodoList{
    padding-top: 25px;
    margin:0 auto;
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: 5px solid #4f7fa9;
padding: 10px;
background: linear-gradient(to left, #628db2, #769cbc);
border-radius: 25px;
  }

 