.todo-header{

  padding-top: 20px;
  margin-top: 30px;
 margin-left:33%;
 position:fixed;
 border:3px solid #000000;
 background: linear-gradient(to left,#feadb9,#bc85a3,#9799ba);
 border-radius: 25px;
 height:100px;
 width:730px;
 text-align: center;

 font-family: 'Courier New', Courier, monospace;
}


.TodoList{
 padding-top: 20px;
 margin-top: 160px;
margin-left:33%;
position:fixed;
border: 3px solid #000000;
background: linear-gradient(to left,#feadb9,#bc85a3,#9799ba);
border-radius: 25px;
height:600px;
width:790px;
overflow: auto;
  }
  .TodoForm{
    margin-bottom:5px;
    margin-left: 708px;
    position: fixed;
    bottom: 105px;
    background: linear-gradient(to left,#feadb9,#bc85a3,#9799ba);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 25px;
    width:790px;
    border: 3px solid #000000;
  }
  .button-add:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}.button-add {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #914970;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
    margin-left: 20px;
    
  }
.input{
	font: 95% Arial, Helvetica, sans-serif;
	width: 500px;
margin-left: 50px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
	
}

.homepage{
  width: 100%;
  background-color: palegoldenrod;
}
 